{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h3>Yedekleme Uygulamasi Kullanici Giris Bolumu</h3>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="username" name="username" class="input-xlarge"
            placeholder="Kullanici adi (email)" required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Sifre" required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Giris</button>
        </div>
    </div>
  </form>
{% endblock %}
