{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Yedekleme Uygulaması Kayıt Formu </h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="username" name="username" class="input-xlarge"
            placeholder="Kullanıcı adı" value="{{ request.form.username }}"
            required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Parola" value="{{ request.form.password }}"
            required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <input type="email" id="email" name="email" class="input-xlarge"
            placeholder="Eposta" value="{{ request.form.username }}"
            required>
        </div>
    </div>

    <div class="control-group">
      <div class="controls">
	<select name="plan">
	  <option value="1"> 1 GB, Bir aylık deneme</option>
	  <option value="10"> 10 GB, 30 TL/ay</option>
	  <option value="20"> 20 GB, 45 TL/ay</option>
	  <option value="40"> 40 GB, 80 TL/ay</option>
	  <option value="60"> 60 GB, 120 TL/ay</option>
	  <option value="80"> 80 GB, 145 TL/ay</option>
	  <option value="200"> 200 GB, 350 TL/ay</option>	  	  
	</select>
	<br>Fiyatlara %18 kdv dahildir.
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Signup</button>
        </div>
    </div>
  </form>
{% endblock %}
